<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Workout</title>
</head>
<body>
{% if contexts %}
	{% for context in contexts %}
		<select onselect="{{url_for('get_categories_by_context', context=context.id)}}" method="POST">
			<option id="{{context.id}}"> {{ context }} </option>
		</select>
	{% endfor %}
{% endif %}

{% if categories %}
	{% for category in categories %}
		<select>
			<option id="{{category.id}}"> {{ category }} </option>
		</select>
	{% endfor %}
{% endif %}
</body>
</html>